@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HamburgSymbols";
  font-display: swap;
  src: url("../fonts/HamburgSymbols-Regular.woff") format("woff"), url("../fonts/HamburgSymbols-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Liana";
  font-display: swap;
  src: url("../fonts/Liana-Regular.woff") format("woff"), url("../fonts/Liana-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTRootUI";
  font-display: swap;
  src: url("../fonts/PTRootUI-Regular.woff") format("woff"), url("../fonts/PTRootUI-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTRootUI";
  font-display: swap;
  src: url("../fonts/PTRootUI-Medium.woff") format("woff"), url("../fonts/PTRootUI-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PTRootUI";
  font-display: swap;
  src: url("../fonts/PTRootUI-Bold.woff") format("woff"), url("../fonts/PTRootUI-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-arrow:before {
  content: "\e900";
}

.icon-calendar:before {
  content: "\e901";
}

.icon-chevron:before {
  content: "\e902";
}

.icon-clock:before {
  content: "\e903";
}

.icon-globe:before {
  content: "\e904";
}

.icon-location:before {
  content: "\e905";
}

.icon-menu:before {
  content: "\e906";
}

.icon-placemark:before {
  content: "\e907";
}

.icon-services:before {
  content: "\e908";
}

.icon-symbol:before {
  content: "\e909";
}

.icon-user:before {
  content: "\e90a";
}

body {
  font-family: "PTRootUI", sans-serif;
  background-color: #100820;
  color: #fff;
  font-size: 1rem;
  min-width: 320px;
  min-height: 100%;
  line-height: normal;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background: url("../img/decor.svg") 0 0/cover no-repeat;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  font-weight: 700;
  line-height: 123.81%;
  letter-spacing: -0.06563rem;
  font-size: 2rem;
}

.text-block {
  color: #45405c;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.025rem;
}

.card {
  border-radius: 1.125rem;
  background: #fff;
  color: #2f2d37;
  padding: 1.75rem 1.25rem 2rem 1.25rem;
}

.font-symbol {
  font-family: "HamburgSymbols";
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #7533b6;
  border-radius: 0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__fields {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__label {
  color: #5b5b5b;
  line-height: 171.429%;
  letter-spacing: -0.02188rem;
  padding: 0 1.62rem;
  display: block;
  font-size: 0.875rem;
}

.form__field-body {
  margin-top: 0.25rem;
  position: relative;
}

.form__field-body::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1.13rem;
  width: 1.25rem;
  height: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1.125rem;
}

.form__input {
  text-overflow: ellipsis;
  -webkit-transition: border-color 0.3s ease 0s, color 0.3s ease 0s, outline 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, color 0.3s ease 0s, outline 0.3s ease 0s;
  border-radius: 3.1875rem;
  border: 1px solid #eee;
  background: #fff;
  width: 100%;
  color: #353535;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.025rem;
  padding: 0.8rem 2.5rem 0.8rem 1.63rem;
}

.form__input[type=time]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.form__input:focus {
  border-color: #7533b6;
}

.form__input:disabled {
  border-color: #ddd;
}

.form__input._input ~ .form__field-clear {
  visibility: visible;
}

.form__field-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.2rem 0 1.62rem;
}

.form__field-header .form__label {
  padding: 0;
}

.form__field-link {
  color: #7533b6;
  text-align: right;
  font-size: 0.875rem;
  line-height: 171.429%;
  letter-spacing: -0.02188rem;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form__btn {
  margin-top: 2.75rem;
}

.btn {
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 5.25rem;
  padding: 1.1rem;
  font-weight: 700;
  gap: 2rem;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.btn::before {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.btn.btn-primary {
  background: #7533b6;
  color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary:active {
  background: #5b288e;
  color: #fff;
}

.btn:disabled,
.btn[aria-disabled=true] {
  cursor: default;
  pointer-events: none;
  border-color: #808080;
  color: #808080;
}

.header {
  padding: 4.7rem 0 2rem 0;
}

.header__title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title-top {
  color: #fcc52c;
  font-family: "Liana";
  line-height: 90.591%;
  letter-spacing: -0.07344rem;
  font-size: 2rem;
}

.header__title-bottom {
  font-size: 13vw;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.17813rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.04%, #fff), color-stop(191.9%, rgba(255, 255, 255, 0.36)));
  background: linear-gradient(180deg, #fff 0.04%, rgba(255, 255, 255, 0.36) 191.9%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__desc {
  text-align: center;
  color: #fff;
  max-width: 57rem;
  margin-top: 0.75rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.625rem;
  letter-spacing: -0.02rem;
}

.footer {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.025rem;
  padding: 2rem 0 6rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  row-gap: 2rem;
}

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5rem;
}

.footer__menu-link {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__feedback a {
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.data__title {
  text-align: center;
  color: #323232;
  font-weight: 700;
  line-height: 144.444%;
  letter-spacing: -0.05625rem;
  font-size: 1.5rem;
}

.data__title-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  width: 1.5416666667em;
  height: 1.5416666667em;
  font-size: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #7533b6;
  color: #fff;
  border-radius: 50%;
}

.data__form {
  margin-top: 1.75rem;
}

.desc {
  margin-top: 4.25rem;
}

.desc__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desc__grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.desc__text {
  margin-top: 1rem;
}

.desc__zodiacs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.desc__zodiacs-card {
  border: 1px solid #eee;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5625rem 1.25rem;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.desc__zodiacs-icon {
  max-width: 3.25rem;
  height: 3.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desc__zodiacs-name {
  margin-top: 0.5rem;
  color: #2f2a45;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.02813rem;
}

.desc__zodiacs-period {
  margin-top: 0.125rem;
  color: #45405c;
  text-align: center;
  font-size: 0.875rem;
  letter-spacing: -0.02188rem;
}

.desc__info {
  line-height: 162.5%;
}

.desc__btn {
  margin-top: 2.5rem;
}

.natal-card__main {
  padding: 4rem 2rem;
  position: relative;
  background: url("../img/card-bg.svg") center 0/cover no-repeat, rgba(0, 0, 0, 0.02);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1.5rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 0px 165.1px -27px #3c256d;
          box-shadow: 0px 0px 165.1px -27px #3c256d;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.natal-card__main-image {
  aspect-ratio: 1;
  width: 15rem;
  height: 15rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: rgba(117, 51, 182, 0.43);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1.75rem rgba(255, 255, 255, 0.02);
          box-shadow: 0 0 0 1.75rem rgba(255, 255, 255, 0.02);
}

.natal-card__main-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.natal-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 4rem;
}

.natal-card__info-main {
  font-weight: 700;
  letter-spacing: -0.02813rem;
  line-height: 144.444%;
  font-size: 1.125rem;
}

.natal-card__info-link {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  text-decoration-line: underline;
}

.natal-card__info-btn {
  margin-top: 2.5rem;
}

.natal-card__tabs {
  margin-top: 1.0625rem;
  display: -ms-grid;
  display: grid;
  gap: 1.06rem;
}

.natal-card__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.125rem;
  border: 1px solid rgba(117, 51, 182, 0.61);
  background: rgba(117, 51, 182, 0.36);
  -webkit-box-shadow: 0px 0px 165.1px -27px #3c256d;
          box-shadow: 0px 0px 165.1px -27px #3c256d;
  -webkit-backdrop-filter: blur(12.6499996185px);
          backdrop-filter: blur(12.6499996185px);
  padding: 1.31rem 0 1.5rem;
}

.natal-card__tab::before {
  content: "";
  width: 1.1875rem;
  height: 1.1875rem;
  border-radius: 50%;
  border: 0.0625rem solid rgba(255, 255, 255, 0.26);
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.natal-card__tab.active {
  background: linear-gradient(108deg, #1e44a5 -7.74%, #7714f4 46.41%, #1e44a5 113.46%);
}

.natal-card__tab.active::before {
  -webkit-box-shadow: inset 0 0 0 3px #7417f1, inset 0 0 0 10px #fff;
          box-shadow: inset 0 0 0 3px #7417f1, inset 0 0 0 10px #fff;
}

.natal-card__tab-top {
  margin-top: 0.69rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.natal-card__tab-name {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.02813rem;
}

.natal-card__body {
  margin-top: 4.125rem;
}

.natal-card__content {
  display: none;
}

.natal-card__content.active {
  display: block;
}

.zodiacs__block:not(:last-child) {
  margin-bottom: 4.12rem;
}

.zodiacs__tabs {
  margin-top: 2.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.zodiacs__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  padding: 1.3rem 0.25rem;
  border: 1px solid #eee;
  background: #fff;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.zodiacs__tab.active {
  border: 1px solid #1e44a5;
  -webkit-box-shadow: inset 0 0 0 1px #1e44a5;
          box-shadow: inset 0 0 0 1px #1e44a5;
  background: #fff;
}

.zodiacs__tab-icon {
  margin-bottom: auto;
}

.zodiacs__tab-name {
  margin-top: 0.5rem;
  color: #2f2a45;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.02813rem;
}

.zodiacs__tab-type {
  margin-top: 0.5rem;
  color: #909090;
  font-size: 1rem;
  font-weight: 500;
}

.zodiacs__body {
  margin-top: 3rem;
}

.zodiacs__tab-content {
  display: none;
}

.zodiacs__tab-content.active {
  display: block;
}

.zodiacs__title {
  text-align: center;
}

.zodiacs__title span {
  vertical-align: middle;
  display: inline-block;
}

.zodiacs__hint {
  text-align: center;
  margin-top: 0.25rem;
  color: #a048ca;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.025rem;
}

.zodiacs__desc {
  margin-top: 2rem;
  color: #45405c;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: -0.025rem;
}

.zodiacs__desc p:not(:last-child) {
  margin-bottom: 1.5rem;
}

.zodiacs__btn {
  margin-top: 2.75rem;
}

.zodiacs__planets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.zodiacs__planets-main {
  display: contents;
}

.zodiacs__planets-body {
  padding: 1rem 0 0 0;
}

.zodiacs__planets-title {
  max-width: 40rem;
}

.zodiacs__planets-calendar {
  padding-top: 1.5rem;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.zodiacs__planets-calendar img {
  width: 100%;
}

.zodiacs__planets-bottom {
  margin-top: 1.2rem;
  padding: 0.5rem 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.zodiacs__planets-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.38rem;
  font-weight: 700;
  margin: 0 auto;
}

.zodiacs__planets-more::before {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.zodiacs__planets-table {
  margin-top: 1rem;
  width: 100%;
  max-width: 32rem;
}

.zodiacs__planets-table th {
  color: #45405c;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 3.25rem;
  letter-spacing: -0.02188rem;
}

.zodiacs__planets-table td {
  color: #2f2a45;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02813rem;
}

.zodiacs__planets-table td .font-symbol {
  margin-right: 0.88rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9870ad;
  font-size: 0.875rem;
  letter-spacing: -0.02813rem;
}

.zodiacs__planets-table td:first-child .font-symbol {
  color: #d6be7a;
}

.elements__text {
  color: #45405c;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.025rem;
}

.elements__more {
  color: #7533b6;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.elements__diagram {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
}

.elements__diagram-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.elements__diagram-num {
  color: #2f2a45;
  font-weight: 700;
  line-height: 123.81%;
  letter-spacing: -0.06563rem;
  font-size: 1.75rem;
}

.elements__diagram-main {
  position: relative;
  display: block;
}

.elements__diagram-image {
  padding: 1rem 0;
}

.elements__tab {
  position: absolute;
  width: 3.75rem;
  height: 3.75rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.elements__tab:nth-child(1) {
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='98' height='98' viewBox='0 0 98 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33925 35.9217L36.4959 1.18541L84.1567 14.2638L96.6609 62.0785L61.5042 96.8148L13.8434 83.7364L1.33925 35.9217Z' fill='white' stroke='%23E2E2E2'/%3E%3C/svg%3E%0A");
}

.elements__tab:nth-child(2) {
  top: 0;
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='98' height='98' viewBox='0 0 98 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.19043 61.5238L14.2497 13.8577L62.0594 1.33439L96.8098 36.4771L83.7505 84.1432L35.9408 96.6665L1.19043 61.5238Z' fill='white' stroke='%23E2E2E2'/%3E%3C/svg%3E%0A");
}

.elements__tab:nth-child(3) {
  bottom: 0;
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='98' height='98' viewBox='0 0 98 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33925 35.9217L36.4959 1.18541L84.1567 14.2638L96.6609 62.0785L61.5042 96.8148L13.8434 83.7364L1.33925 35.9217Z' fill='white' stroke='%23E2E2E2'/%3E%3C/svg%3E%0A");
}

.elements__tab:nth-child(4) {
  bottom: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='98' height='98' viewBox='0 0 98 98' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.32296 62.0193L13.8862 14.2201L61.5632 1.20061L96.6769 35.9803L84.1136 83.7795L36.4366 96.799L1.32296 62.0193Z' fill='white' stroke='%23E2E2E2'/%3E%3C/svg%3E%0A");
}

.elements__tab:not(.active) svg path {
  fill: #d0d0d0;
}

.elements__content {
  margin-top: 5rem;
}

.elements__tab-content {
  display: none;
}

.elements__tab-content.active {
  display: block;
}

.elements__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.elements__subtitle {
  margin-top: 0.35rem;
  color: #a048ca;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.025rem;
}

.elements__result {
  background: url("../img/result-bg.svg") 0 0/cover no-repeat;
  border-radius: 31.25rem;
  min-width: 7.25rem;
  padding: 0.85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.elements__body {
  margin-top: 2.1875rem;
  color: #45405c;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.025rem;
}

.elements__body ul {
  margin-top: 1.75rem;
  list-style: disc;
  padding-left: 1.75rem;
}

.elements__body p:not(:first-child) {
  margin-top: 1.25rem;
}

.elements__body h4 {
  margin-top: 1.75rem;
  color: #2f2a45;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.02813rem;
}

.elements__body h4 + p:not(:first-child) {
  margin-top: 0.5rem;
}

.elements__btn {
  margin-top: 2.5rem;
}

.homes__tabs {
  margin-top: 2.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.homes__tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  padding: 1.3rem 0.25rem;
  border: 1px solid #eee;
  background: #fff;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.homes__tab.active {
  border: 1px solid #1e44a5;
  -webkit-box-shadow: inset 0 0 0 1px #1e44a5;
          box-shadow: inset 0 0 0 1px #1e44a5;
  background: #fff;
}

.homes__tab.active .homes__tab-icon svg path {
  fill: #7533b6;
}

.homes__tab-icon {
  margin-bottom: auto;
}

.homes__tab-name {
  margin-top: 0.5rem;
  color: #2f2a45;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.02813rem;
}

.homes__tab-type {
  margin-top: 0.5rem;
  color: #909090;
  font-size: 1rem;
  font-weight: 500;
}

.homes__body {
  margin-top: 3rem;
}

.homes__tab-content {
  display: none;
}

.homes__tab-content.active {
  display: block;
}

.homes__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homes__subtitle {
  margin-top: 0.35rem;
  color: #a048ca;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.025rem;
}

.homes__result {
  background: url("../img/result-bg.svg") 0 0/cover no-repeat;
  border-radius: 31.25rem;
  min-width: 7.25rem;
  padding: 0.85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homes__desc {
  margin-top: 2.1875rem;
  color: #45405c;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.025rem;
}

.homes__desc ul {
  margin-top: 1.75rem;
  list-style: disc;
  padding-left: 1.75rem;
}

.homes__desc p:not(:first-child) {
  margin-top: 1.25rem;
}

.homes__desc h4 {
  margin-top: 1.75rem;
  color: #2f2a45;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.02813rem;
}

.homes__desc h4 + p:not(:first-child) {
  margin-top: 0.5rem;
}

.aspects__block:not(:last-child) {
  margin-bottom: 4.12rem;
}

.aspects__text {
  color: #45405c;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.025rem;
}

.aspects__more {
  color: #7533b6;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5rem;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.aspects__spollers {
  margin-top: 2.25rem;
}

.aspects__spoller {
  border-radius: 0.75rem;
  border: 1px solid #eee;
  background: #fff;
  padding: 0.87rem;
}

.aspects__spoller:not(:last-child) {
  margin-bottom: 0.63rem;
}

.aspects__spoller-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aspects__spoller-btn::before {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 1.5rem;
}

.aspects__spoller-column {
  position: relative;
  padding-left: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.aspects__spoller-column::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 3.1875rem;
  height: 3.1875rem;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.75rem;
  border: 1px solid #eee;
  color: #7533b6;
  background: rgba(117, 51, 182, 0.15);
}

.aspects__spoller-caption {
  color: #2f2a45;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.02813rem;
}

.aspects__spoller-body {
  margin-top: 0.87rem;
  border-top: 0.0625rem solid #eee;
  padding-top: 2.25rem;
  display: none;
}

.aspects__spoller-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.62rem;
}

.aspects__spoller-tab {
  color: #7533b6;
  font-weight: 700;
  padding: 1rem 1.56rem;
  font-size: 1rem;
  border-radius: 5.25rem;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.aspects__spoller-tab.active {
  background: #7533b6;
  color: #fff;
}

.aspects__spoller-tab-content {
  margin-top: 2rem;
  display: none;
}

.aspects__spoller-tab-content.active {
  display: block;
}

.aspects__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.aspects__table .aspects__spoller-table {
  width: auto;
}

.aspects__spoller-table {
  margin-top: 1rem;
  width: 100%;
}

.aspects__spoller-table th {
  color: #45405c;
  text-align: left;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 3.25rem;
  letter-spacing: -0.02188rem;
}

.aspects__spoller-table td {
  color: #2f2a45;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02813rem;
}

.aspects__spoller-table td .font-symbol {
  margin-right: 0.88rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9870ad;
  font-size: 0.875rem;
  letter-spacing: -0.02813rem;
}

.aspects__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.69rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aspects__tabs-btn {
  border-radius: 1.125rem;
  border: 1px solid #eee;
  background: #fff;
  font-weight: 700;
  letter-spacing: -0.02813rem;
  padding: 1.25rem;
}

.aspects__tabs-btn.active {
  background: linear-gradient(108deg, #1e44a5 -7.74%, #7714f4 46.41%, #1e44a5 113.46%);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.aspects__content {
  margin-top: 2.75rem;
}

.aspects__tab-content {
  display: none;
}

.aspects__tab-content.active {
  display: block;
}

.aspects__heading {
  margin-top: 2.88rem;
  padding: 1.5rem 0 0 0;
  border-top: 1px solid #eee;
  color: #2f2a45;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.025rem;
}

.aspects__heading a {
  color: #a048ca;
  text-decoration: underline;
}

.aspects__list {
  margin-top: 1.75rem;
}

.aspects__list-item:not(:last-child) {
  margin-bottom: 3rem;
}

.aspects__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.85rem;
}

.aspects__header-title {
  max-width: 23rem;
}

.aspects__header-result {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='33' viewBox='0 0 36 33' fill='none'%3E%3Cpath d='M18.281 22.9036C18.525 25.1551 18.4175 26.1085 16.2667 27.6828C13.399 29.7819 8.13826 30.1161 5.3141 26.2579C2.16385 21.9543 2.83691 17.6849 6.81607 14.7721C13.3576 9.9835 22.0021 23.4845 29.1713 18.2367C33.6271 14.9751 33.3079 10.7219 31.1233 7.36572C28.8156 3.82 24.4142 1.89031 19.7207 5.32592C16.853 7.42511 16.7501 8.44461 17.0014 10.6212' stroke='white' stroke-opacity='0.14' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center/2.25rem 2.0625rem no-repeat, url("../img/result-bg.svg") 0 0/cover no-repeat;
  border-radius: 37.5rem;
  min-width: 10.3125rem;
  min-height: 5.5rem;
  padding: 0.85rem 1rem;
  gap: 1.55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aspects__header-result .sm-image {
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
  margin-right: -0.25rem;
  margin-left: -1rem;
}

.aspects__list-desc {
  margin-top: 1rem;
}

.aspects__btn {
  margin-top: 3.75rem;
}

@media (min-width: 575.98px) {
  [class*=__container] {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    max-width: 36rem;
  }

  .form__fields {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__menu-list {
    gap: 3.19rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .data__title {
    font-size: 2.25rem;
  }

  .data__title-icon {
    font-size: 1.5rem;
  }

  .desc__zodiacs {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .natal-card__info {
    margin-top: 0;
    position: absolute;
    width: 12.675rem;
    text-align: right;
    top: 1.5rem;
    right: 1rem;
    bottom: 1rem;
  }

  .natal-card__info-main {
    font-size: 0.875rem;
  }

  .natal-card__info-btn {
    margin-top: auto;
  }

  .natal-card__tabs {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .zodiacs__tabs {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .zodiacs__desc {
    font-size: 1rem;
  }

  .zodiacs__planets-bottom {
    padding: 1.37rem 0 0 0;
    margin-top: 2.7rem;
  }

  .zodiacs__planets-table th {
    font-size: 0.875rem;
  }

  .zodiacs__planets-table td {
    font-size: 1.125rem;
  }

  .zodiacs__planets-table td .font-symbol {
    font-size: 1.125rem;
    line-height: 1.125rem;
  }

  .elements__diagram-num {
    font-size: 2.625rem;
  }

  .elements__tab {
    width: 6.25rem;
    height: 6.25rem;
    padding: 0;
  }

  .homes__tabs {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .aspects__spoller-tab {
    min-width: 9.0625rem;
    padding: 1.25rem 2.62rem;
  }

  .aspects__spoller-table th {
    font-size: 0.875rem;
  }

  .aspects__spoller-table td {
    font-size: 1.125rem;
  }

  .aspects__spoller-table td .font-symbol {
    font-size: 1.125rem;
    line-height: 1.125rem;
  }

  .aspects__tabs {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .aspects__tabs-btn {
    padding: 1.31rem 1.69rem;
    font-size: 1.125rem;
  }

  .aspects__header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 767.98px) {
  [class*=__container] {
    max-width: 45.5rem;
  }

  .title {
    font-size: 2.625rem;
  }

  .card {
    padding: 3.75rem 3.75rem 4rem 3.75rem;
  }

  .form__fields {
    gap: 1.87rem;
    row-gap: 1rem;
  }

  .header__title-top {
    margin-bottom: -1rem;
    font-size: 2.9375rem;
  }

  .header__title-bottom {
    font-size: 5rem;
  }

  .footer {
    padding: 3.87rem 0 12.31rem;
  }

  .data__body {
    padding: 3.25rem 3.75rem 4.5rem 3.75rem;
  }

  .desc__zodiacs {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .zodiacs__block.card {
    padding: 2rem 3.75rem 3.75rem;
  }

  .zodiacs__tabs {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .zodiacs__planets-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .zodiacs__planets-calendar img {
    width: auto;
  }

  .elements.card {
    padding: 2rem 3.75rem 3.75rem;
  }

  .homes.card {
    padding: 2rem 3.75rem 3.75rem;
  }

  .homes__tabs {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .aspects__block.card {
    padding: 2rem 3.75rem 3.75rem;
  }

  .aspects__table {
    gap: 2rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 991.98px) {
  [class*=__container] {
    max-width: 60rem;
  }

  .header {
    padding: 9.3rem 0 4rem 0;
  }

  .header__title-bottom {
    font-size: 7.125rem;
  }

  .header__desc {
    font-size: 1.125rem;
  }

  .desc__grid {
    gap: 0;
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }

  .desc__main {
    padding: 0.5rem 1rem 0 2.5rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }

  .desc__text {
    max-width: 30.3125rem;
  }

  .desc__zodiacs {
    display: contents;
  }

  .desc__zodiacs-card:nth-child(1) {
    border-bottom: 0;
  }

  .desc__zodiacs-card:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    border-bottom: 0;
  }

  .desc__zodiacs-card:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    border-left: 0;
    border-bottom: 0;
  }

  .desc__zodiacs-card:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    border-bottom: 0;
  }

  .desc__zodiacs-card:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    border-left: 0;
    border-bottom: 0;
  }

  .desc__zodiacs-card:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    border-left: 0;
    border-bottom: 0;
  }

  .desc__zodiacs-card:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    border-left: 0;
  }

  .desc__zodiacs-card:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    border-left: 0;
  }

  .desc__zodiacs-card:nth-child(9) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    border-bottom: 0;
  }

  .desc__zodiacs-card:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    border-left: 0;
  }

  .desc__zodiacs-card:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    border-left: 0;
  }

  .desc__zodiacs-card:nth-child(12) {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }

  .desc__info {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
    padding: 2rem 0 0 1.5rem;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
  }

  .desc__btn {
    margin-top: 3.5rem;
  }

  .natal-card__main-image {
    width: 23.625rem;
    height: 23.625rem;
  }

  .natal-card__info {
    top: 2rem;
    right: 2.15rem;
    bottom: 2.75rem;
  }

  .natal-card__info-main {
    font-size: 1.125rem;
  }

  .natal-card__tabs {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .zodiacs__tabs {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }

  .homes__tabs {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }

  .aspects__spoller-tab-content {
    margin-top: 0;
    padding: 1.5rem 4rem 1.75rem 1.5rem;
  }
}

@media (min-width: 1199.98px) {
  [class*=__container] {
    max-width: 72.5rem;
  }

  .form__fields {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .desc__info {
    padding: 3.37rem 0 0 3.5rem;
  }
}

@media (any-hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    background: #5b288e;
  }

  .form__field-link:hover {
    color: #5b288e;
  }

  .footer__menu-link:hover {
    color: #7533b6;
  }

  .footer__feedback a:hover {
    color: #7533b6;
  }

  .desc__zodiacs-card:hover {
    background: #eee;
  }

  .natal-card__info-link:hover {
    text-decoration: none;
  }

  .zodiacs__tab:hover:not(.active) {
    background: #eee;
  }

  .elements__more:hover {
    color: #5b288e;
  }

  .homes__tab:hover:not(.active) {
    background: #eee;
  }

  .aspects__more:hover {
    color: #5b288e;
  }

  .aspects__spoller-tab:hover:not(.active) {
    background: #f2f2f2;
  }

  .aspects__heading a:hover {
    text-decoration: none;
  }
}