@font-face {
                            font-family: 'HamburgSymbols';
                            font-display: swap;
                            src: url("../fonts/HamburgSymbols-Regular.woff") format("woff"), url("../fonts/HamburgSymbols-Regular.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'icons';
                            font-display: swap;
                            src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'PT';
                            font-display: swap;
                            src: url("../fonts/PT-Root-UI-Bold.woff") format("woff"), url("../fonts/PT-Root-UI-Bold.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'PT';
                            font-display: swap;
                            src: url("../fonts/PT-Root-UI-Regular.woff") format("woff"), url("../fonts/PT-Root-UI-Regular.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'PT';
                            font-display: swap;
                            src: url("../fonts/PT-Root-UI-Medium.woff") format("woff"), url("../fonts/PT-Root-UI-Medium.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
@font-face {
                            font-family: 'Liana';
                            font-display: swap;
                            src: url("../fonts/Liana-Regular.woff") format("woff"), url("../fonts/Liana-Regular.woff2") format("woff2");
                            font-weight: 400;
                            font-style: normal;
                        }
