.footer {
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: -0.025rem;
	padding: 3.87rem 0 12.31rem;
	// .footer__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .footer__menu
	&__menu {
	}
	// .footer__menu-list
	&__menu-list {
		display: flex;
		align-items: center;
		gap: 3.19rem;
	}
	// .footer__menu-item
	&__menu-item {
	}
	// .footer__menu-link
	&__menu-link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: #7533b6;
			}
		}
	}
	// .footer__feedback
	&__feedback {
		& a {
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: #7533b6;
				}
			}
		}
	}
}
