.form {
	// &._sending {
	// 	button[type="submit"] {
	// 		@extend ._loading;
	// 	}
	// }
	// display: flex;
	// flex-direction: column;
	&__label {
		font-size: 1.125rem;
		line-height: 94.444%;
		margin-bottom: 0.5rem;
		@media (min-width: $md2) {
			margin-bottom: 1.25rem;
		}
	}
	// .form__input
	&__input {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s, outline 0.3s ease 0s;
		width: 100%;
		line-height: 140%;
		border-radius: 0;
		background: transparent;
		border-bottom: rem(1) solid;
		color: currentColor;
		font-size: 0.9375rem;
		padding: 0.5rem 0;
		&.form__input_lg {
			font-size: 1.125rem;
		}
		&:disabled {
			border-color: #ddd;
		}
		&._input {
			& ~ .form__field-clear {
				visibility: visible;
			}
		}
	}
	// .form__field
	&__field {
		position: relative;
	}
	// .form__field-clear
	&__field-clear {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0.5rem;
		visibility: hidden;
	}

	// // .form__textarea
	// &__textarea {
	// 	resize: vertical;
	// 	text-overflow: ellipsis;
	// 	transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
	// 	width: 100%;
	// 	background: #fff;
	// 	color: $dark;
	// 	padding: 1.2rem 0.75rem;
	// 	line-height: 140%;
	// 	border-radius: 0.25rem;
	// 	background: #f2f2f2;
	// 	font-size: 0.875rem;
	// 	height: rem(107);
	// 	@media (min-width: $md5) {
	// 		font-size: 1rem;
	// 		height: 9rem;
	// 	}
	// 	@media (min-width: $md2) {
	// 		font-size: 1.125rem;
	// 	}
	// 	&.form__textare_sm {
	// 		font-size: 0.875rem;
	// 		padding: 1rem 0.75rem;
	// 		height: 6.6875rem;
	// 	}
	// 	&:focus {
	// 		outline: rem(2) solid rgba($color: #fff, $alpha: 0.75);
	// 	}
	// 	&:hover,
	// 	&:focus {
	// 		border-color: #039;
	// 	}
	// 	&::placeholder {
	// 		color: #a1a5a7;
	// 		opacity: 1;
	// 	}
	// 	&:disabled {
	// 		background: #dfe0e1;
	// 		border-color: #dfe0e1;
	// 	}
	// 	&._error {
	// 		background: #fff1ed;
	// 		border-color: #fff1ed;
	// 	}
	// }
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	text-align: center;
	user-select: none;
	font-size: 0.9375rem;
	line-height: 140%;
	font-weight: 500;
	padding: 0.75rem 1rem;
	gap: 1rem;
	&::after {
		content: "→";
	}
	&.btn-primary {
		border: 1px solid #000;
		color: #000;
		&:hover,
		&:active {
			background: #000;
			color: #fff;
		}
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		pointer-events: none;
		border-color: #808080;
		color: #808080;
	}
}

.checkbox {
	margin-top: 2.25rem;
	display: block;

	// .checkbox__input
	&__input {
		&:checked {
			& + .checkbox__content {
				&::before {
					@extend %ic, .icon-clear;
					background: #000;
				}
			}
		}
	}
	// .checkbox__content
	&__content {
		position: relative;
		display: block;
		font-size: 0.75rem;
		padding: 0.15rem 0 0.15rem 2.5rem;
		font-weight: 500;
		line-height: 125%;
		cursor: pointer;
		user-select: none;
		&::before {
			content: "";
			position: absolute;
			color: #fff;
			top: 0.25rem;
			left: 0;
			background: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			border: rem(1) solid #000;
			width: 1.5rem;
			height: 1.5rem;
		}
	}
}
