.form {
	// .form__fields
	&__fields {
		display: grid;
		gap: 1rem;
		@media (min-width: $md5) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md4) {
			gap: 1.87rem;
			row-gap: 1rem;
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	// .form__field
	&__field {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	// .form__label
	&__label {
		color: #5b5b5b;
		line-height: 171.429%;
		letter-spacing: -0.02188rem;
		padding: 0 1.62rem;
		display: block;
		font-size: 0.875rem;
	}

	// .form__field-body
	&__field-body {
		margin-top: 0.25rem;
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 1.13rem;
			width: 1.25rem;
			height: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			font-size: 1.125rem;
		}
	}
	// .form__input
	&__input {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s, outline 0.3s ease 0s;
		border-radius: 3.1875rem;
		border: 1px solid #eee;
		background: #fff;
		width: 100%;
		color: #353535;
		font-size: 1rem;
		font-weight: 400;
		line-height: 150%;
		letter-spacing: -0.025rem;
		padding: 0.8rem 2.5rem 0.8rem 1.63rem;

		&[type="time"] {
			&::-webkit-calendar-picker-indicator {
				display: none;
				-webkit-appearance: none;
			}
		}
		&:focus {
			border-color: #7533b6;
		}
		&:disabled {
			border-color: #ddd;
		}
		&._input {
			& ~ .form__field-clear {
				visibility: visible;
			}
		}
	}
	// .form__field-header
	&__field-header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0 1.2rem 0 1.62rem;
		.form__label {
			padding: 0;
		}
	}
	// .form__field-link
	&__field-link {
		color: #7533b6;
		text-align: right;
		font-size: 0.875rem;
		line-height: 171.429%;
		letter-spacing: -0.02188rem;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: darken($color: #7533b6, $amount: 10);
			}
		}
	}
	// .form__btn
	&__btn {
		margin-top: 2.75rem;
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	width: 100%;
	align-items: center;
	text-align: center;
	user-select: none;
	border-radius: 5.25rem;
	padding: 1.1rem;
	font-weight: 700;
	gap: 2rem;
	transition: background-color 0.3s ease 0s;
	&::before {
		order: 1;
	}
	&.btn-primary {
		background: #7533b6;
		color: #fff;
		&:hover,
		&:active {
			background: darken($color: #7533b6, $amount: 10);
			color: #fff;
		}
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		pointer-events: none;
		border-color: #808080;
		color: #808080;
	}
}

// .checkbox {
// 	margin-top: 2.25rem;
// 	display: block;

// 	// .checkbox__input
// 	&__input {
// 		&:checked {
// 			& + .checkbox__content {
// 				&::before {
// 					@extend %ic, .icon-clear;
// 					background: #000;
// 				}
// 			}
// 		}
// 	}
// 	// .checkbox__content
// 	&__content {
// 		position: relative;
// 		display: block;
// 		font-size: 0.75rem;
// 		padding: 0.15rem 0 0.15rem 2.5rem;
// 		font-weight: 500;
// 		line-height: 125%;
// 		cursor: pointer;
// 		user-select: none;
// 		&::before {
// 			content: "";
// 			position: absolute;
// 			color: #fff;
// 			top: 0.25rem;
// 			left: 0;
// 			background: transparent;
// 			display: flex;
// 			justify-content: center;
// 			align-items: center;
// 			border: rem(1) solid #000;
// 			width: 1.5rem;
// 			height: 1.5rem;
// 		}
// 	}
// }
