.header {
	padding: 9.3rem 0 4.44rem 0;
	// .header__container
	&__container {
	}
	// .header__title
	&__title {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title-top {
		color: #fcc52c;
		font-family: $font-liana;
		font-size: 2.9375rem;
		line-height: 90.591%;
		letter-spacing: -0.07344rem;
		margin-bottom: -1rem;
	}
	&__title-bottom {
		font-size: 7.125rem;
		font-weight: 700;
		line-height: 100%;
		letter-spacing: -0.17813rem;
		background: linear-gradient(180deg, #fff 0.04%, rgba(255, 255, 255, 0.36) 191.9%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	// .header__desc
	&__desc {
		text-align: center;
		color: #fff;
		max-width: 57rem;
		margin-top: 0.75rem;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.125rem;
		line-height: 1.625rem;
		letter-spacing: -0.02rem;
	}
}
