%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-arrow:before {
	content: "\e900";
}
.icon-calendar:before {
	content: "\e901";
}
.icon-chevron:before {
	content: "\e902";
}
.icon-clock:before {
	content: "\e903";
}
.icon-globe:before {
	content: "\e904";
}
.icon-location:before {
	content: "\e905";
}
.icon-menu:before {
	content: "\e906";
}
.icon-placemark:before {
	content: "\e907";
}
.icon-services:before {
	content: "\e908";
}
.icon-symbol:before {
	content: "\e909";
}
.icon-user:before {
	content: "\e90a";
}
